*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Caveat Brush', cursive;  
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
  --main-color: rgb(67, 91, 141);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.heading {
  display: flex;
  justify-content: center;
  align-content: center;  
  font-size: 4rem;
  font-weight: bold ;
  margin: 0.5rem 0.5rem 2rem;
  color: var(--main-color);
  
}

.board {  
  display: grid;
  justify-content: center;
  align-content: flex-start;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);  
  border: 2px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n +3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: '';
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  background-color: var(--main-color);
  position: absolute;  
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}  

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: '';  
  position: absolute;
  border-radius: 50%;  
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);  
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: white;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: var(--main-color);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before{
  background-color: rgb(211, 210, 210);
}

/* WINNING MESSAGE AND RESET BUTTON */
.winning-msg {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(67, 91, 141, .9);
  color: white;
  font-size: 6rem;
  flex-direction: column;
}

.winning-msg button {
  font-size: 3rem;
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-msg button:hover {
  background-color: var(--main-color);
  color: white;
  border-color: white;
}

.winning-msg.show {
  display: flex;
}

/* FOOTER */
.footer {  
  height: 4.5vw;
  display: flex;  
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}